/* Megamount Prototype Custom CSS */


/* GLOBAL */
.cover-heading {
	font-size: 125px;
}

@media (max-width: 764px)
{
	.cover-heading {
		font-size: 75px;
	}
}

/* BODY */


/* TYPO */


/* LAYOUT */
@media (min-width: 992px)
{
	.masthead, .mastfoot, .cover-container {
		width: 960px;
	}
}

/* HEADER */


/* BANNER */


/* MENU */


/* MAIN CONTENT */


/* LEFT COLUMN */


/* RIGHT COLUMN */


/* ARTICLE */


/* TABLE */


/* FOOTER */
